apiVersion: v1
kind: Secret
metadata:
  name: mlflow-db-credentials
  namespace: redhat-ods-applications
type: Opaque
stringData:
  # Format: postgresql://<user>:<password>@<host>:<port>/<database>
  uri: "postgresql://mlflow:changeme@postgresql.ambient-code.svc.cluster.local:5432/mlflow"
